body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('6937142469_e719d3b626_b.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease; /* Agregamos una transición suave */
}

.container:hover {
    background-color: rgba(255, 255, 255, 1); /* Cambio de color al pasar el mouse */
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.form-container {
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #2156e7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
